name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      provider: lxd
      juju-channel: 3.3/stable
      self-hosted-runner: true
      charmcraft-channel: latest/edge
